

body {
	background-color: aquamarine;
    text-align: center;
}

.board {
	padding-top: 60px;
	width: 600px;
	margin:auto;
}

table {
	/*position:absolute;*/
	border-collapse: separate;
	border-spacing: 4px;
    margin-left: 400px;
}

.cell {
	background-color:darkgray;
	width: 25px;
	height: 25px;
}
.cell:hover{
    background-color:dimgray;
}
.cell.shown {
	background-color: lightgray;
}
.marked {
    background-color: blueviolet;
}


.baloon {
	width: 40px;
	display: inline-block;
	
}
.baloons {
	width: 34px;
	display: inline-block;
	
}
.hint {
	width: 40px;
	display: inline-block;
	background-color:aquamarine;
	
}
.hints {
	width: 34px;
	display: inline-block;
	
}
.smiley {
	width: 35px;
	height: 35px;
	background-color:aquamarine;

}
